/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.errors {
	margin-top: 1em;
	float: left;
	width: 330px;
	background-color: rgba(221, 140, 140, 0.43);
}

.errors p {
	padding-top: 1em;
	font-size: 1em;
}

#welcome {
  margin-right: 0;
}

#user {
  padding-left: 6px;
}