<p>
  <label for="first-name">First Name:</label>
  <input id="first-name" class="form-control" name="user[first_name]" type="text" value="<%= @user.first_name %>">
</p>
<p>
  <label for="last-name">Last Name:</label>
  <input id="last-name" class="form-control" name="user[last_name]" type="text" value="<%= @user.last_name %>">
</p>
<p>
  <label for="email">Email:</label>
  <input id="email" class="form-control" name="user[email]" type="email" value="<%= @user.email %>">
</p>
<p>
  <label for="password">Password:</label>
  <input id="password" class="form-control" name="user[password]" type="password">
</p>
<p>
  <label for="password-confirmation">Confirm Password:</label>
  <input id="password-confirmation" class="form-control" name="user[password_confirmation]" type="password">
</p>
<p>
  <input type="submit" class="btn btn-primary" value="Submit">
</p>
