<h1>Register</h1>
<p>Please tell us a bit about yourself:</p>

<form id="register" action="/users/new" method="post">
  <table>
    <tr>
      <td><label for="user[first_name]">First Name:</label></td>
      <td><input class="form-control" name="user[first_name]" type="text"></td>
    </tr>
    <tr>
      <td><label for="user[last_name]">Last Name:</label></td>
      <td><input class="form-control" name="user[last_name]" type="text"></td>
    </tr>
    <tr>
      <td><label for="user[email]">Email:</label></td>
      <td><input class="form-control" name="user[email]" type="email"></td>
    </tr>
    <tr>
      <td><label for="user[password]">Password:</label></td>
      <td><input class="form-control" name="user[password]" type="password"></td>
    </tr>
    <tr>
      <td><label for="user[password_confirmation]">Confirm Password:</label></td>
      <td><input class="form-control" name="user[password_confirmation]" type="password"></td>
    </tr>
  </table>
  <input type="submit" class="btn btn-primary" value="Sign Up!">
</form>
