<ul class="nav navbar-nav pull-right">
	<li class="active"><a href="#">Home</a></li>
	<li><a href="#about">About</a></li>
	<li><a href="#contact">Profile</a></li>
	<form class="navbar-form navbar-right" action="/logout" method="post">
		<button type="submit" class="btn btn-success">Sign out</button>
	</form>
</ul>
