<% if current_user %>
  <h1>Welcome, <%= current_user.first_name %></h1>
<% else %>
  <h1>Sinatra Web App</h1>
<% end %>
<p>You can put a brief description of your application here to welcome your users.  You can securely authenticate from the menu at the top, or choose to register if you don't yet have an account.</p>
