<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Sinatra Web App starter skeleton by Alex Knoll">
    <meta name="author" content="Alex Knoll">
    <title>Sinatra Web App Skeleton</title>
  </head>

  <body>
    <div class="container">
      <header>
        <nav id="menu">
          <ul class="nav">
            <% if current_user %>
              <li class="nav-item">
                <a href="/users/<%= current_user.id %>/edit" class="nav-link">Profile</a>
              </li>
              <li class="nav-item">
                <form action="/sessions/delete" method="post">
                  <button type="submit" class="btn btn-primary">Sign out</button>
                </form>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link" href="/sessions/new">Log in</a>
              </i>
              <li class="nav-item">
                <a class="nav-link" href="/users/new">Register</a>
              </li>
            <% end %>
          </ul>
        </nav>
      </header>

      <% if @errors %>
        <ul id="errors">
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
