<form action="/users/login" method="post" class="form-inline pull-xs-right">
	<input class="form-control" type="text" name="credentials[email]" placeholder="Email">
	<input class="form-control" type="password" name="credentials[password]" placeholder="Password">
	<button class="btn btn-outline-success" type="submit">Sign in</button>
	<a class="btn btn-primary" href="/users/new">Register</a>
</form>
